.card-wrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: 0.5rem 0;
  overflow: hidden;
  transition: all 0.5s ease-in;
}
.detailed-news {
  display: none;
}
.article-type {
  color: #be0808;
}
.img-box img {
  width: 100%;
  transition: transform 0.5s ease-in;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  transition: transform 0.5s ease-in;
}
.card-wrapper:hover {
  cursor: pointer;
  /* .img-box img {
    transform: scale(0, 0);
  }
  .content-wrapper {
    transform: translateY(-185px);
  }
  .detailed-news {
    display: block;
  } */
}
