.carousel-container {
  display: flex;
  align-items: center;
}
.newsCard-container {
  display: flex;
  justify-content: space-around;
}
.big-card {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}
.small-cards {
  width: 55%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .big-card {
    width: 90%;
  }
  .small-cards {
    display: none;
  }
}
